@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fff6e4;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #fff6e4;
  }
}

body {
  color: #fff6e4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
