@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fff6e4;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #fff6e4;
  }
}

body {
  color: #fff6e4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .button-hover-effect {
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.button-hover-effect:hover {
  transform: rotate(10deg);
}
.button-hover-effect::after {
  content: "";
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.button-hover-effect:hover::after {
  opacity: 1;
} */
